# General
numpy

# ELEx
dash
plotly
dash-bootstrap-components
reportlab
PyMuPDF
qrcode

# Monitoring
pynvml
psutil
GPUtil
pyrapl # (clone https://github.com/powerapi-ng/pyRAPL and install locally)

# TensorFlow Backend
tensorflow
tensorflow_datasets
larq
larq_zoo
packaging

# ONNX TensorFlow Backend
tensorflow
tensorflow_datasets
larq
larq_zoo
packaging
onnx 
onnxruntime # OR onnxruntime-gpu
onnx_opcounter
tf2onnx

# PyTorch Backend (use https://pytorch.org/ for installation)
pytorch
torchvision
torchaudio
ptflops

# ONNX PyTorch Backend (use https://pytorch.org/ for installation)
pytorch
torchvision
torchaudio
onnx
onnxruntime # OR onnxruntime-gpu
onnx_opcounter
