.grid-container{
    display: grid;
    grid-template-columns: 700px 700px 400px;
    grid-template-rows: 500px 500px;
}

.grid-model{
    grid-column: 3 / 4;
    grid-row: 1 / 1;
}

.grid-config{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.grid-axis{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.grid-graph{
    grid-column: 1 / 3;
    grid-row: 1 / 1;
}